h1 {
  text-align: center;
}

img {
  height: 200px;
  width: auto;
  display: block;
  float: left;
  /*padding-top: 20px;*/
}

li {
  list-style-type: none;
  float: inherit;

  /*display: inline-block;*/
}

.person {
  display: block;
  float: inherit;
  /*float: left;*/
}
